.article:is(article) {
	cursor: pointer;
	position: relative;
	border-radius: var(--wui-radius);

	& a img {
		width: 100%;
		object-fit: cover;
	}

	&:focus-within img {
		outline: var(--wui-primary) solid 2px;
		outline-offset: 2px;
	}

	/* Remove the outline if the user profile is being focused on */
	&:has(> div.content > a:focus) img {
		outline: none;
	}

	&:hover {
		box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 0.25);
		transform: scale(1.015);

		& > div.content {
			opacity: 1;
		}
	}

	& div.content {
		display: flex;
		align-items: center;
		flex-direction: row;
		position: absolute;

		left: 0;
		bottom: 0;
		gap: 8px;
		width: 100%;

		padding: 8px;
		opacity: 0;

		z-index: 1;
		color: whitesmoke;
		backdrop-filter: blur(4px);
		border-radius: var(--wui-radius);

		& a {
			min-width: 32px;
			outline: none;
		}

		& small {
			font-size: 0.75rem;
			min-width: 32px;
		}

		& span {
			flex: 1;
		}

		& img {
			outline: none;
			border-radius: 50%;
			width: 32px;
			height: 32px;
		}

		&:has(a:focus) {
			opacity: 1;
			& img {
				outline: var(--wui-primary) solid 2px;
				outline-offset: 2px;
			}
		}
	}
}
